.tilesWrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items:flex-start;
	float: left;
    
}

.tilesWrap h1{
	margin-bottom: .4em;
	margin-top: -33px;
	align-self:center;
}

.notePara{
	white-space: pre-wrap;
	word-wrap: break-word;
	min-height: auto;
	max-height: 215px;
	overflow: auto;
}

.tilesWrap li {
	display: grid;
    grid-template-columns: minmax(100px,215px) !important;
	align-items:stretch;
	padding: 20px 20px 10px;
	position: relative;
	margin: 20px;
    margin-left: 20px;
    float: left;
	font-family: 'helvetica', san-serif;
	background: #262a2b;
	border: 1px solid #252727;
	text-align: left;
	color: white;

}

.tilesWrap li:before {
	content: '';
	position: absolute;
	top: -2px;
	left: -2px;
	right: -2px;
	bottom: -2px;
	z-index: -1;
	background: #fff;
	transform: skew(2deg, 2deg);
	
}



.editIcon{
	height: 20px;
	width: 20px;
}

.trashIcon{
	height: 20px;
	width: 20px;
}
.tilesWrap li .button {
	display: flex;
	justify-content: space-between;
	height: 30px;
	width: 50px;
	padding: 0px;
	margin-left: 75%;
	color: salmon;
	border-radius: 3px;
	position: relative;
	transition: all 0.3s ease-in-out;
	transform: translateY(-40px);
	opacity: 0;
	cursor: pointer;
	overflow: hidden;
}
.tilesWrap li .button:before {
	content: '';
	position: absolute;
	height: 100%;
	width: 120%;
	background: #b7b7b7;
	opacity: 1;
	left: -140px;
	border-radius: 0 20px 20px 0;
	z-index: 1;
	margin-bottom: 125px;
	transition: all 0.3s ease-in-out;
	
}

.tilesWrap li:hover .button {
	transform: translateY(3px);
	opacity: 1;
	z-index: 3;
}

::-webkit-scrollbar{
	position: relative;
    width: 5px;
	height: 3px;
	display: none;
}
::-webkit-scrollbar-track{
	display: none;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(transparent, #00e1ff);
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(transparent, #f700ff);
}

.tilesWrap li:hover ::-webkit-scrollbar{
	display:block;
	position: relative;
}

.tilesWrap li:nth-child(4n+1):before {
background: #52D017;
background: -webkit-linear-gradient(to right, #F4A460, #52D017);
background: linear-gradient(to right, #F4A460, #52D017);
}
.tilesWrap li:nth-child(4n+2):before {
background: #f2709c;
background: -webkit-linear-gradient(to right, #9D00FF, #f2709c);
background: linear-gradient(to right, #9D00FF, #f2709c);
}
.tilesWrap li:nth-child(4n+3):before {
background: orangered;
background: -webkit-linear-gradient(to right, #ffc500, orangered);
background: linear-gradient(to right, #ffc500,orangered );
}
.tilesWrap li:nth-child(4n):before {
background: #FC354C;
background: -webkit-linear-gradient(to right, #0ABFBC, #FC354C);
background: linear-gradient(to right, #0ABFBC, #FC354C);
}

@media screen and (max-width: 692px) {
    .tilesWrap {
        margin: 15px;
        margin-left: 20px;
    }
}