.header{
    background-color: salmon;
    margin-bottom: 2em;
    height: 80px;
    display: flex;
    justify-content: space-around;

}
.heading{
    border:3xp solid black;
    font-size: 45px;
}